body {
    font-size: 15px;
}

ul {
    padding-left: 3em;
}

.header_logo {
    width: 85px;
}

.header_title {
    font-size: 1em;
}

.self_illistration {
    padding-left: 1em;        
}

.bio_text_list {
    width: 56%;
}

.project {
    width: 50%;
    padding: 1em;
}

.project_title {
    font-size: 1em;
}

.project_course {
    font-size: .8em;
}