body {
    font-size: 20px;
}

ul{
    padding-left: 3em;
}

.header_logo {
    width: 120px;
}

.header_text{
    margin-top: .5em;
}

.header_title{
    font-size: 1em;
}

.self_illistration{
    padding-left: 1em;
}

.bio{
    width:50%;
    min-width: 900px;
}

.bio_text_list{
    font-size: 1.25em;
    width: 57%;
    padding-right: 2em;
    display: none;
}

.bio_text_paragraph{   
    font-size: 1em;
    width: 56%;
    padding-left: 1em;    
    padding-right: 1em;    
}

.project{
    width: 32%;
    padding: 1em;
}

.project_title{
    font-size: 1em;
}

.project_course{
    font-size: .8em;
}
